<section class="home" id="home">

    <div class="image" data-aos="fade-down">
        <img src="/images/home-img.svg" alt="">
    </div>

    <div class="content" data-aos="fade-up">
        <h3>adventure is worthwhile</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis explicabo eius inventore reprehenderit alias eos facilis, ipsa est asperiores repellendus!</p>
        <a href="#" class="btn">explore now</a>
    </div>

</section>
